// Styling for page sections
.page-section {
  padding: 6rem 0;
  .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @include media-breakpoint-up(lg) {
    .page-section-heading {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

.bg-main-red {
 background-color: $main-red;
}
//a:hover {
//  h1,h2,h3,h4,h5,h6 {
//    background-color: black !important;
//    color: white !important;
//    text-decoration: none;
//  }
//}
h1,h2,h3,h4,h5,h6 {
  a {

    color: black;
    line-height:160%;
    text-transform: uppercase;
    letter-spacing:60%;
    //transform: scale(1.0, 1.5);
    //transform-origin: 0 0;
    //margin:4% 0;
  }
}

a:hover {
  background-color: black !important;
  color: white !important;
  text-decoration: none;
}

h1, .h1 {
  font-size: 2.0rem; }

h2, .h2 {
  font-size: 1.75rem; }

h3, .h3 {
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 1.1rem; }

h6, .h6 {
  font-size: 1rem;
}

.articlecard:nth-child(3n+2){
  border-left:solid 1px black;
  border-right:solid 1px black;
}


