.footer {
  border-top:dashed 2px black;
  padding-top: 5rem;
  padding-bottom: 5rem;
  xxbackground-color: $secondary;
  xxcolor: $white;
}

.copyright {
  border-top:dashed 2px black;
  xxbackground-color: darken($secondary, 10%);
}
