  .bg-{
    background: white;
  }
  .bg-landenvolk{
    background: $main-blue;
  }
  .bg-muziek{
    background: $main-red;
  }
  .bg-taal{
    background: $main-green;
  }

.masthead {
  .xxmasthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .xxmasthead-subheading {
    font-size: 1.25rem;
  }

}

@include media-breakpoint-up(lg) {

  .bg-hlandenvolk{
    background:  url(../img/radio-r.png) right 10% bottom 35px no-repeat, url(../img/radio-l.png) left 10% bottom 35px no-repeat $main-blue;
  }
  .bg-hmuziek{
    background:  url(../img/radio-r.png) right 10% bottom 35px no-repeat, url(../img/radio-l.png) left 10% bottom 35px no-repeat $main-red;
  }
  .bg-htaal{
    background:  url(../img/radio-r.png) right 10% bottom 35px no-repeat, url(../img/radio-l.png) left 10% bottom 35px no-repeat $main-green;
  }

  .masthead {

    padding-top: calc(0rem + 107px);
    padding-bottom: 1rem;

    .masthead-heading {

      font-family: $top-font-family;
      white-space: nowrap;
      font-size: 18rem;
      font-weight: normal;
      letter-spacing: 2.4rem;

    }
    .masthead-subheading {
      font-size: 1.5rem;
    }

  }
}
