.masthead {
  /*
   h1{
    font-family: $top-font-family;
    font-size: 100px;
  }
  */
  /*
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
  */
  .xxmasthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .xxmasthead-subheading {
    font-size: 1.25rem;
  }

}

@include media-breakpoint-up(lg) {
  .masthead {

    padding-top: calc(0rem + 107px);
    padding-bottom: 1rem;
    background:  url(../img/radio-r.png) right 10% bottom 35px no-repeat, url(../img/radio-l.png) left 10% bottom 35px no-repeat #FF272E;


    .masthead-heading {

      font-family: $top-font-family;
      white-space: nowrap;
      font-size: 18rem;
      font-weight: normal;
      letter-spacing: 2.4rem;

      /*line-height: 3.5rem;*/
    }
    .masthead-subheading {
      font-size: 1.5rem;
    }

  }
}
