.topmenuwithlines{
  align-items: unset !important;

  .textitems{
    margin-top:55px;
  }
  .textitems-shrink{
    margin-top:43px;
  }

}

.subsectionmenu{
  background-color: #FF272E;

  a{
    font-family: $subtop-font-family;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
  }
}

.subsectionmenu-fixed{
  position: fixed;
  top:105px;
  padding:0 0 5px 0;
  margin:0;
  z-index:300;
}

.logorood{
  background-color: #FF272E;
}

.logoblauw {
  background-color:#0532CD;
}

.logogroen {
  background-color: #05DA0A;
}

.logowit {
  background-color: #fff;
}

#mainNav {
  .navcolorbg{
    background-image:url(../img/lines.png);
    background-origin: padding-box;
    background-repeat-y: no-repeat;
    background-repeat-x: repeat;
    background-position-y: 20px;

    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:138px;
    background-color: #FF272E;
  }

  .navcolorbg-shrink{
    height:134px;
    transform: scale(1.0, 0.8) translate(0, -17px);
  }

  padding:0;
  padding-bottom: 1rem;

  a {
    color:black;
    font-size:120%;
  }
  a.active{
    color:white;
  }
  font-weight: 700;

  div.sticky {
    position: relative;
    width:190px;
    height:190px;
  }

  img#logo{
    position:absolute;
    top:19px;
    left:22px;
    width:150px;
    height:150px;
  }

  img#logobg{
    position:absolute;
    width:190px;
    height:190px;
  }

  .circle {
    position:absolute;
    height: 187px;
    width: 187px;
    border-radius: 50%;
  }
}

@include media-breakpoint-up(lg) {
  #mainNav {
    padding:0;
    padding-bottom: 1.5rem;

    transition: padding-top 0.3s, padding-bottom 0.3s;

     .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }

  #mainNav.navbar-shrink {
    padding:0;
    padding-bottom: 0.5rem;


    div.sticky {
      position: relative;
      width:calc(190px/#{$logo-verkleiner});
      height:calc(190px/#{$logo-verkleiner});
    }

    img#logo{
      position:absolute;
      top:calc(19px/#{$logo-verkleiner});
      left:calc(22px/#{$logo-verkleiner});
      width:calc(150px/#{$logo-verkleiner});
      height:calc(150px/#{$logo-verkleiner});
    }

    img#logobg{
      position:absolute;
      width:calc(190px/#{$logo-verkleiner});
      height:calc(190px/#{$logo-verkleiner});
    }

    .circle {
      position:absolute;
      width:calc(190px/#{$logo-verkleiner});
      height:calc(190px/#{$logo-verkleiner});
      border-radius: 50%;
    }
  }
}

