.logorood{
  background-color: #FF272E;
}

.logoblauw{
  background-color:#0532CD;
}

.logogroen{
  background-color: #05DA0A;
}

.logowit{
  background-color: #fff;
}

#mainNav {

  border-bottom: solid 1px green;

  padding:0;
  padding-bottom: 1rem;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  /*
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
   */

  div.sticky {
    position: relative;
    width:190px;
    height:190px;
  }

  img#logo{
    position:absolute;
    top:19px;
    left:22px;
    width:150px;
    height:150px;
  }

  img#logobg{
    position:absolute;
    width:190px;
    height:190px;
  }

  .circle {
    position:absolute;
    height: 190px;
    width: 190px;
    border-radius: 50%;
  }


}

@include media-breakpoint-up(lg) {
  #mainNav {
    padding:0;
    padding-bottom: 1.5rem;

    transition: padding-top 0.3s, padding-bottom 0.3s;
    .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }

  #mainNav.navbar-shrink {
    padding:0;
    padding-bottom: 0.5rem;


    div.sticky {
      position: relative;
      width:calc(190px/#{$logo-verkleiner});
      height:calc(190px/#{$logo-verkleiner});
    }

    img#logo{
      position:absolute;
      top:calc(19px/#{$logo-verkleiner});
      left:calc(22px/#{$logo-verkleiner});
      width:calc(150px/#{$logo-verkleiner});
      height:calc(150px/#{$logo-verkleiner});
    }

    img#logobg{
      position:absolute;
      width:calc(190px/#{$logo-verkleiner});
      height:calc(190px/#{$logo-verkleiner});
    }

    .circle {
      position:absolute;
      width:calc(190px/#{$logo-verkleiner});
      height:calc(190px/#{$logo-verkleiner});
      border-radius: 50%;
    }



  }
}

