            <div class="mb-5 col-md-6 col-lg-4 d-flex flex-column articlecard">
                <div class="" style="">
                    <h2> <a href="{{ .RelPermalink }}"> {{ .Title }} </a> </h2>
                </div>
                <div class="mb-2">
                    {{ .Summary }}
                </div>
                <div class="d-flexflex-grow-1 flex-fill bg-main-red" style="overflow: hidden;">
                    {{ $images := .Resources.ByType "image" }}
                    {{ range first 1 $images }}
                    {{ $imageResource :=  .  }}
                    {{ $resized := $imageResource.Fill "500x500" }}
                    <img class="ximg-fluid" style="max-width: 100%; min-height: 100%; object-fit: cover; vertical-align: bottom; "
                    src="{{ $imageResource.RelPermalink }}" />
                    {{ end }}

                </div>
            </div>

