  <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav">

    <div class="container-fluid xbg-main-red d-flex xjustify-content-around xbd-highlight">
        <div class="bg-info flex-fill d-flex">
            <div class="p-2 bg-info flex-fill text-center">1</div>
            <div class="p-2 bg-warning flex-fill text-center">2</div>
            <div class="p-2 bg-primary flex-fill text-center">3</div>
        </div>
        <div class="xbg-warning xflex-fill">
            <div class="sticky">
                <span class="circle logorood"></span>
                <img src="img/logobg2.png" id="logobg" />
                <img src="img/logoseq/image-0001.png" id="logo" />
            </div>
        </div>
        <div class="bg-info flex-fill d-flex">
            <div class="p-2 bg-info flex-fill text-center">1</div>
            <div class="p-2 bg-warning flex-fill text-center">2</div>
            <div class="p-2 bg-primary flex-fill text-center">3</div>
        </div>


    </div>
  </nav>

    <style>

    </style>

    <script>

    </script>
  </head>
  <body>
