  <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav">

    <div class="navcolorbg">
    </div>

    <div class="container-fluid d-flex topmenuwithlines" style="z-index:999999">
        <div class="flex-fill d-flex">

            {{ $current := . }}
            {{ range .Site.Menus.nav1 }}
            {{ $active := or ($current.IsMenuCurrent "nav1" .) ($current.HasMenuCurrent "nav1" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
            {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
            <div class="flex-fill text-center textitems">
                <a href="{{ .URL }}" {{ if $active }}class="active" aria-current="page"{{ end }}>{{ .Name }}</a>
            </div>
            {{ end }}

        </div>
        <div class="">
            <div class="sticky">
                <span class="circle logorood"></span>
                <img src="/img/logobg2.png" id="logobg" />
                <a href="/"><img src="/img/logoseq/image-0001.png" id="logo" /></a>
            </div>
        </div>
        <div class="flex-fill d-flex">
            {{ $current := . }}
            {{ range .Site.Menus.nav2 }}
            {{ $active := or ($current.IsMenuCurrent "nav2" .) ($current.HasMenuCurrent "nav2" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
            {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
            <div class="flex-fill text-center textitems">
                <a href="{{ .URL }}" {{ if $active }}class="active" aria-current="page"{{ end }}>{{ .Name }}</a>
            </div>
            {{ end }}

        </div>




    </div>
  </nav>

    <style>

    </style>

    <script>

    </script>
  </head>
  <body>
