<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <!-- Portfolio Grid Items -->
        <div class="row">

          {{ range .Site.RegularPages.ByPublishDate.Reverse }}
          {{ $pagePath := .Permalink }}

            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto">

                    <a href="{{ .RelPermalink }}">
                      <h2>{{ .Title }}</h2>
                    </a>
                    {{ .Summary }}

                    {{ $images := .Resources.ByType "image" }}
                    {{ range first 1 $images }}
                    {{ $imageResource :=  .  }}
                    {{ $resized := $imageResource.Fill "500x500" }}
                    <img class="img-fluid" src="{{ $resized.RelPermalink }}" />
                    {{ end }}

                </div>
            </div>


          {{ end }}


        </div>
        <!-- /.row -->

    </div>
</section>

